<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-08">
        <title>Contatos web - Agenda de contatos</title>
    </head>
    <body>
        <header>
            <h1>Contatos web</h1>
            <h4>Bem Vindo!</h4>
        </header>
        <section>
            <form action="/entrar" method="post">
                <input type="text" name="usuario[nome]" placeholder="Seu nome">
                <br>
                <input type="text" name="usuario[email]" placeholder="Seu email">
                <br>
                <button type="submit">Entrar</button>
            </form>
        </section>
        <footer>
           <small>Contatos Web Ntalk- Agenda de contatos</small>
        </footer>
    </body>
</html>